<a href="https://colab.research.google.com/github/almaprateek/Retail_Sales_Prediction/blob/main/Rossmann_Sales_Prediction_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sales Prediction : Predicting sales of a major store chain Rossmann</u></b>

## <b> Problem Description </b>

### Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

## **You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.**

## <b> Data Description </b>

### <b>Rossmann Stores Data.csv </b> - historical data including Sales
### <b>store.csv </b> - supplemental information about the stores


### <b><u>Data fields</u></b>
### Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* #### Id - an Id that represents a (Store, Date) duple within the test set
* #### Store - a unique Id for each store
* #### Sales - the turnover for any given day (this is what you are predicting)
* #### Customers - the number of customers on a given day
* #### Open - an indicator for whether the store was open: 0 = closed, 1 = open
* #### StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* #### SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
* #### StoreType - differentiates between 4 different store models: a, b, c, d
* #### Assortment - describes an assortment level: a = basic, b = extra, c = extended
* #### CompetitionDistance - distance in meters to the nearest competitor store
* #### CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
* #### Promo - indicates whether a store is running a promo on that day
* #### Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* #### Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
* #### PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

# **Exploration of Dataset**

In [1]:
#importing libraries 
import pandas as pd
import numpy as np

In [2]:
# let's mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Rossmann Stores Data.csv - historical data including Sales**

In [3]:
data1 = pd.read_csv('/content/drive/MyDrive/Retail sales prediction/Data _ Resources/Rossmann Stores Data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**store.csv - supplemental information about the stores**

In [4]:
data2 = pd.read_csv('/content/drive/MyDrive/Retail sales prediction/Data _ Resources/store.csv')

In [5]:
for data in data1,data2 :
  data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

# **OBSERVATION** - Data 1 is free from null values and data 2 has significant null values , so we have to handle them accordingly.

In [6]:
data1.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [7]:
data2.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [8]:
# However , we know Rossmann has 3000 stores but we are checking , out of them whose day we have in data 1...
data1.Store.unique()

array([   1,    2,    3, ..., 1113, 1114, 1115])

In [9]:
data1.Store.value_counts()

1023    942
666     942
675     942
163     942
674     942
       ...
900     758
902     758
903     758
904     758
512     758
Name: Store, Length: 1115, dtype: int64

* We see , we have data 1 has 1115 unique stores.

In [10]:
# Now its time to check no of unique stores in data 2
data2.Store.unique()

array([   1,    2,    3, ..., 1113, 1114, 1115])

In [11]:
data2.Store.value_counts()

1115    1
374     1
368     1
369     1
370     1
       ..
738     1
737     1
736     1
735     1
1       1
Name: Store, Length: 1115, dtype: int64

* We see , we have data 2 also has 1115 unique stores.

# As we have seen ,both datas have information of 1115 unique stores.
#So, it would be a good idea to join both the tables.

In [12]:
# joining both the tables
joined_data = pd.merge(data1,data2,on='Store',how='inner')

In [13]:
joined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [14]:
# copying the joined table ,such that we are free to perform our experiments
sales_data=joined_data.copy()

In [15]:
sales_data.head()

   Store  DayOfWeek        Date  ...  Promo2SinceWeek  Promo2SinceYear  PromoInterval
0      1          5  2015-07-31  ...              NaN              NaN            NaN
1      1          4  2015-07-30  ...              NaN              NaN            NaN
2      1          3  2015-07-29  ...              NaN              NaN            NaN
3      1          2  2015-07-28  ...              NaN              NaN            NaN
4      1          1  2015-07-27  ...              NaN              NaN            NaN

[5 rows x 18 columns]

**First of all , Let's explore all the features of table and after that we will work on NaN value handling.**

 * As we have already explored column Store ,We already know that we have data of 1115 stores.

**NOW, Let's explore DayofWeek column**

In [16]:
sales_data.DayOfWeek.value_counts()

5    145845
4    145845
3    145665
2    145664
7    144730
6    144730
1    144730
Name: DayOfWeek, dtype: int64

* So, we have data of 7 days a week.

In [17]:
import matplotlib.pyplot as plt 
day_of_week= sales_data.groupby('DayOfWeek')

In [18]:
day_of_week.head()

    Store  DayOfWeek  ... Promo2SinceYear  PromoInterval
0       1          5  ...             NaN            NaN
1       1          4  ...             NaN            NaN
2       1          3  ...             NaN            NaN
3       1          2  ...             NaN            NaN
4       1          1  ...             NaN            NaN
5       1          7  ...             NaN            NaN
6       1          6  ...             NaN            NaN
7       1          5  ...             NaN            NaN
8       1          4  ...             NaN            NaN
9       1          3  ...             NaN            NaN
10      1          2  ...             NaN            NaN
11      1          1  ...             NaN            NaN
12      1          7  ...             NaN            NaN
13      1          6  ...             NaN            NaN
14      1          5  ...             NaN            NaN
15      1          4  ...             NaN            NaN
16      1          3  ...             NaN            NaN
17      1          2  ...             NaN            NaN
18      1          1  ...             NaN            NaN
19      1          7  ...             NaN            NaN
20      1          6  ...             NaN            NaN
21      1          5  ...             NaN            NaN
22      1          4  ...             NaN            NaN
23      1          3  ...             NaN            NaN
24      1          2  ...             NaN            NaN
25      1          1  ...             NaN            NaN
26      1          7  ...             NaN            NaN
27      1          6  ...             NaN            NaN
28      1          5  ...             NaN            NaN
29      1          4  ...             NaN            NaN
30      1          3  ...             NaN            NaN
31      1          2  ...             NaN            NaN
32      1          1  ...             NaN            NaN
33      1          7  ...             NaN            NaN
34      1          6  ...             NaN            NaN

[35 rows x 18 columns]